APP_NAME=PitCrew API
APP_ENV=local
APP_KEY=base64:xIIBXqpGxb9O8VGYvZWZq/SkXQDNKSJpLIhLVwuJaPI=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=pitcrew_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SSLMODE=prefer

LOG_CHANNEL=stack
